* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.header {
	background-color: azure;
	width: 100%;
	height: 20vh;
}

.main {
	background-color: bisque;
	width: 100%;
	height: 60vh;
}

.footer {
	background-color: darkgreen;
	width: 100%;
	height: 20vh;
}